<aside id="sidebar">
    <div class="d-flex justify-content-between p-4">
        <div class="sidebar-logo">
            <a href="/patients">My Medical</a>
        </div>
        <button class="toggle-btn border-0" type="button">
            <i id="icon" class='bx bxs-shield-plus'></i>
        </button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="/" class="sidebar-link">
                <i class='bx bxs-dashboard'></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class='bx bxs-bar-chart-alt-2' ></i>
                <span>Analytics</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/patients" class="sidebar-link">
                <i class='bx bx-group'></i>
                <span>Patients</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">   
                <i class='bx  bx-dots-horizontal'  ></i>          
                <span>More</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/add_questions" class="sidebar-link">   
                <i class='bx  bx-clipboard'  ></i>  
                <span>Add Questions</span>
            </a>
        </li>
         <li class="sidebar-item">
            <a href="/add_category" class="sidebar-link">   
                <i class='bx  bx-plus-square'  ></i>  
                <span>Add Category</span>
            </a>
        </li>

        <% if(!userid) {%>
        <li class="sidebar-item">
            <a href="/login" class="sidebar-link">
                <i class='bx bx-user'></i>
                <span>Log In</span>
            </a>
        </li>
        <% } %>
    </ul>   
    <% if(userid) {%>
    <div class="sidebar-footer">            
        <a href="/logout" class="sidebar-link">
            <i class='bx bx-log-out'></i>
            <span>Log out</span>       
        </a>                        
    </div>     
    <% } %>
</aside> 